<!DOCTYPE html>
<html ng-app='app'>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="theme-color" content="#607D8B">
    <META http-equiv="Expires" content="-1">
    <META http-equiv="Pragma" content="no-cache">
    <META http-equiv="Cache-Control" content="No-Cache">

    <!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->

    <!--폰트 설정-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

    <!--For Angular-material-->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">

    <!--For Angularstrap-->
    <!--<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.4/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="//mgcrea.github.io/angular-strap/styles/libs.min.css">-->

    <link rel="stylesheet" href="bower_components/c3/c3.css" />

    <!--For Angular-material-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">

    <!--For Angularstrap-->


    <link rel='stylesheet' href='css/app.css'>

    <!-- For spinkit -->
    <link rel="stylesheet" href="bower_components/angular-spinkit/build/angular-spinkit.min.css">




</head>


<body ng-controller='MainCtrl' >

    <div class="ob-loading-scene" layout layout-align="center center" style="" ng-hide="isHideLoadingScene">
        <rotating-plane-spinner></rotating-plane-spinner>
    </div>

    <div class="ob-body-wrap"  layout="column" layout-align="start center">



        <div class="ob-main-container" layout="column" layout-align="start start" >

            <div class="ob-toolbar" layout layout-align="start center" >
                <span class="ob-title">Wifi Humidifier</span>
                <md-icon  md-svg-icon="{{authLockIcon}}" ng-click="onClickAuthLockButton($event)" layout layout-align="end end" style="margin-right: 16px;border: none;outline: none;"></md-icon>

            </div>

            <div class="op-width-full"  layout layout-wrap style="padding: 0 3px 0 3px;">
                <!--온도 -->
                <ng-status-box class="ob-status" flex="{{flexStatusBox}}" title="Temperature" value="tempValue" color-index="tempColorIndex"  unit="°C" ></ng-status-box>
                <!--습도 -->
                <ng-status-box class="ob-status" flex="{{flexStatusBox}}" title="Humidity" value="humidityValue" unit="%" color-index="humidityColorIndex" ></ng-status-box>
                <!--불쾌지수 -->
                <ng-status-box class="ob-status" flex="{{flexStatusBox}}" title="Discomfort index" value="diValue" color-index="diColorIndex"  ></ng-status-box>
                <!--동작 상태-->
                <ng-status-box class="ob-status" flex="{{flexStatusBox}}" title="Operation status" value="opValue" color-index="opColorIndex"   ></ng-status-box>
                <!--습도 설정 값-->
                <ng-status-box class="ob-status" flex="{{flexStatusBox}}" title="Humidity settings" value="humiditySettingValue"  unit="%" color-index="ctrlHumidityColorIndex" >
                    <md-icon class="ob-ctrl-icon" flex="{{flexStatusBox}}" md-svg-icon="img/ic_settings_black_48px.svg" ng-click="onClickHumiditySetting($event)" ng-show="isShowCtrlButton"></md-icon>
                </ng-status-box>
                <!--불쾌지수 설정 값-->
                <ng-status-box class="ob-status" flex="{{flexStatusBox}}" title="Discomfort index limit" value="DISettingValue"  color-index="ctrlDIColorIndex" unit="" >
                    <md-icon class="ob-ctrl-icon" md-svg-icon="img/ic_settings_black_48px.svg" ng-click="onClickDiscomfortIndexThresholdSetting($event)"ng-show="isShowCtrlButton"  ></md-icon>
                </ng-status-box>
                <!--전원 PWM-->
                <ng-status-box class="ob-status" flex="{{flexStatusBox}}" title="Power" value="powerValue" unit="%" color-index="ctrlPowerColorIndex" >
                    <md-icon class="ob-ctrl-icon" md-svg-icon="img/ic_settings_black_48px.svg" ng-click="onClickPowerPwmSetting($event)" ng-show="isShowCtrlButton"></md-icon>
                </ng-status-box>
                <!--팬 PWM-->
                <ng-status-box class="ob-status" flex="{{flexStatusBox}}" title="Fan" value="fanValue" unit="%" color-index="ctrlFanColorIndex" >
                    <md-icon class="ob-ctrl-icon" md-svg-icon="img/ic_settings_black_48px.svg" ng-click="onClickPowerPwmSetting($event)" ng-show="isShowCtrlButton"></md-icon>
                </ng-status-box>
                <ng-status-box class="ob-status" flex="33" ng-show="isShowConnectionStatusBox" title="Connection status" value="ctValue" color-index="ctColorIndex"   ></ng-status-box>


                <!-- -------------------------------------------- 상태 그래프 (Status chart) -------------------------------------------- -->
                <md-whiteframe class="md-whiteframe-z2 op-corner-s1 op-width-full" layout-wrap layout layout-align="start center" style="margin: 5px; overflow: hidden;background-color: white">
                        <span layout layout-align="center center" style="padding: 0 0 0 8px;height: 50px; font-weight: 200;font-size: 0.9em;color: #222222;">
                           Reference date :
                        </span>
                    <div layout style="margin: 0px 0 0 8px;">
                        &nbsp;
                        <select name="year" ng-change="onChangeDateSelect()" ng-model="chart.select.year" ng-style="chart.select.styleYear">
                            <option ng-repeat="year in chart.select.years" ng-selected="{{chart.select.year == year}}"  value="{{year}}"  >{{year}}</option>
                        </select>
                        &nbsp;
                        <select ng-change="onChangeDateSelect()" ng-model="chart.select.month" ng-style="chart.select.styleMonth">
                            <option ng-repeat="month in chart.select.months"  ng-selected="{{chart.select.month == month}}" value="{{month}}">{{month}}</option>
                        </select>
                        &nbsp;
                        <select ng-change="onChangeDateSelect()" ng-model="chart.select.date"  ng-style="chart.select.styleDate">
                            <option ng-repeat="date in chart.select.dates"  ng-selected="{{chart.select.date == date}}" value="{{date}}">{{date}}</option>
                        </select>
                        &nbsp;
                        <select ng-change="onChangeDateSelect()" ng-model="chart.select.hours" ng-style="chart.select.styleHours" >
                            <option ng-repeat="hours in chart.select.hourses"  ng-selected="{{chart.select.hours == hours}}" value="{{hours}}">{{hours}}</option>
                        </select>
                    </div>






                    <md-radio-group layout ng-model="chart.reference" ng-change="onChangeDateSelect()" style="margin: 0 0 0 0; font-weight: 300;font-size: 0.9em;color: #222222;">
                        <md-radio-button value="y" class="md-primary" >Year</md-radio-button>
                        <md-radio-button value="m" class="md-primary" style="margin-left: -8px">Month</md-radio-button>
                        <md-radio-button value="d" class="md-primary" style="margin-left: -8px">Day</md-radio-button>
                        <md-radio-button value="h" class="md-primary" style="margin-left: -8px">Hours</md-radio-button>
                    </md-radio-group>

                    <div class="op-width-full" style="overflow-y : hidden; overflow-x: auto;-webkit-overflow-scrolling: touch;overflow-scrolling: touch;padding : 0 10px 0 0;">
                        <angular-chart id="_statusChart" options="chart.options" style="min-width: 480px;width: 100%;height: 100%;margin-bottom: 20px"></angular-chart>
                    </div>

                </md-whiteframe>

                <div class="ob-vertical-space"></div>

                <div style="color : white;margin: 0 30px 0 8px"> Connect status : <span ng-style="styleConnectionStatusFontColor"> {{ctValue}} </span> </div>
                <div class="ob-vertical-space"></div>
                <div class="ob-vertical-space"></div>

            </div>
        </div>
    </div>

    <ng-block-touch ng-enable-block=" "></ng-block-touch>

</body>




<!--Commons-->
<script src="/bower_components/lodash/lodash.min.js" type="text/javascript"></script>
<script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="/bower_components/rxjs/dist/rx.all.js" type="text/javascript"></script>

<!--For AngularJS-->
<script src="/bower_components/angular/angular.min.js" type="text/javascript"></script>
<script src="/bower_components/angular-animate/angular-animate.js" type="text/javascript"></script>
<script src="/bower_components/angular-cookies/angular-cookies.js" type="text/javascript"></script>
<script src="/bower_components/angular-aria/angular-aria.min.js" type="text/javascript"></script>

<!--For Angular-material-->
<script src="/bower_components/angular-material/angular-material.js"></script>

<!--Angular chart-->
<script src="/bower_components/d3/d3.js" type="text/javascript"></script>
<script src="/bower_components/c3/c3.js" type="text/javascript"></script>
<script src="/bower_components/angular-chart/angular-chart.js" type="text/javascript"></script>

<!-- Crypto-js -->
<script src="/bower_components/crypto-js/crypto-js.js" type="text/javascript"></script>

<script src="bower_components/angular-spinkit/build/angular-spinkit.min.js"></script>

<script src='/js/app.js' type="text/javascript"></script>




</html>